# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Build
build/
dist/

# Python cache
.pytest_cache/

# Model checkpoints
*.h5
